* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.raleway {
  font-family: "Raleway", sans-serif;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
}

.bold {
  font-weight: 700;
}

ul {
  list-style: none;
}

.footer-logo {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(132deg)
    brightness(103%) contrast(103%);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

/* nav section */

nav {
  height: 10vh;
  margin: 1.5rem 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .nav-right ul {
  display: flex;
}

nav .nav-right ul li {
  padding: 0.5rem 1.5rem;
}

/* hero section */

.hero {
  margin: 0 1rem;
  height: 90vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero .hero-left {
  flex: 1;
  color: hsl(243, 87%, 12%);
}

.hero .hero-left .hero-headline {
  padding-bottom: 1.5rem;
  font-size: 2.2rem;
  width: 75%;
  line-height: 3.2rem;
}

.hero .hero-left .hero-copy {
  padding-bottom: 1.5rem;
  width: 75%;
}

.hero .hero-left .hero-field {
  width: 320px;
  height: 40px;
  border: 1px solid hsl(243, 87%, 12%);
  padding: 0.8rem;
}

.hero .hero-left .hero-field::placeholder {
  color: hsl(0, 0%, 75%);
}

.hero .hero-left .get-started {
  position: relative;
  margin-left: 0.6rem;
  top: 2px;
  padding: 0.7rem 1rem;
  width: 200px;
  height: 40px;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  font-size: 0.9rem;
  background: hsl(224, 93%, 58%);
}

.hero .hero-right {
  width: 50%;
}

.hero .hero-right img {
  width: 100%;
}

/* content section */

.content {
  background: #f9f8fe;
  padding-bottom: 6rem;
  color: hsl(243, 87%, 12%);
}

.content .curve {
  background-color: #ffffff;
  width: 100%;
  height: auto;
}

.content .container {
  display: flex;
  margin-top: 3rem;
}

.content .content-left {
  margin-left: 1rem;
  flex: 1;
}

.content .content-left h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.content .content-left .content-copy {
  width: 70%;
}

.content .content-left .content-copy p {
  margin-bottom: 1rem;
}

.content .content-left .content-cta {
  border-bottom: 1px solid hsl(170, 45%, 43%);
  width: 166px;
  margin-bottom: 2rem;
}

.content .content-left .content-cta a {
  text-decoration: none;
  color: hsl(170, 45%, 43%);
}

.content .content-left .content-cta img {
  position: relative;
  top: 2px;
}

.content .content-left .content-card {
  width: 360px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

.content .content-left .content-card .card-copy {
  font-size: 0.85rem;
  line-height: 1.4rem;
  margin-bottom: 1rem;
}

.content .content-left .content-card .card-person {
  display: flex;
  align-items: center;
}

.content .content-left .content-card .card-person .person-img {
  width: 10%;
  margin-right: 1rem;
}

.content .content-left .content-card .card-person .person-img img {
  width: 100%;
  border-radius: 50%;
}

.content .content-left .content-card .card-person .person-info .person-name {
  font-size: 0.7rem;
}

.content
  .content-left
  .content-card
  .card-person
  .person-info
  .person-position {
  font-size: 0.6rem;
}

.content .content-right {
  margin-right: 1rem;
  width: 45%;
}

.content .content-right img {
  width: 100%;
}

/* early access section */
.early-access {
  background: hsl(238, 22%, 44%);
  color: #ffffff;
  padding: 8rem 0;
}

.early-access .container {
  display: flex;
  align-items: center;
}

.early-access .early-access-left {
  flex: 1;
  margin-left: 1rem;
}

.early-access .early-access-left .early-access-headline {
  font-size: 1.8rem;
  margin-bottom: 1.4rem;
}

.early-access .early-access-left .early-access-copy {
  line-height: 1.8rem;
  width: 70%;
}

.early-access .early-access-right {
  flex: 1;
  margin-left: 5rem;
}

.early-access .early-access-right .early-access-form-group {
  display: flex;
  flex-direction: column;
}

.early-access
  .early-access-right
  .early-access-form-group
  .early-access-email-field {
  width: 480px;
  height: 40px;
  border: none;
  padding: 0.8rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.early-access
  .early-access-right
  .early-access-form-group
  .early-access-email-field::placeholder {
  color: hsl(0, 0%, 75%);
}

.early-access .early-access-right .early-access-form-group .get-started-early {
  position: relative;
  margin-top: 1rem;
  top: 2px;
  padding: 0.7rem 1rem;
  width: 200px;
  height: 40px;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  font-size: 0.9rem;
  background: hsl(224, 93%, 58%);
}

/* footer section */
footer {
  background: hsl(243, 87%, 12%);
  color: hsl(0, 0%, 75%);
  padding: 6rem 0 3rem;
}

footer .footer-container {
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer .footer-upper {
  margin-bottom: 1rem;
}

footer .footer-mid {
  display: flex;
  justify-content: space-between;
}

footer .footer-mid .info {
  flex: 1.5;
}

footer .footer-mid .info .info-content {
  display: flex;
  margin-bottom: 1rem;
}

footer .footer-mid .info .info-content .icon {
  margin-right: 1rem;
}

footer .footer-mid .pages1 {
  flex: 1;
}

footer .footer-mid .pages1 div {
  margin-bottom: 1rem;
}

footer .footer-mid .pages2 {
  flex: 1;
}

footer .footer-mid .pages2 div {
  margin-bottom: 1rem;
}

footer .footer-mid .social {
  flex: 1;
}

footer .footer-mid .social div {
  display: inline-block;
  height: 30px;
  width: 30px;
  border: 1px solid #ffffff;
  border-radius: 50px;
  margin: 0 0.5rem;
  text-align: center;
}

.icon-color {
  position: relative;
  top: 3px;
  color: #ffffff;
  font-size: 1rem;
}

@media (max-width: 1100px) {
  .hero .hero-left .get-started {
    margin-left: 0;
  }
}

@media (max-width: 900px) {
  .early-access {
    padding: 4rem 0;
  }
  .early-access .container {
    flex-direction: column;
    justify-content: center;
  }

  .early-access .early-access-left {
    margin-left: 0;
    margin-bottom: 2rem;
  }

  .early-access .early-access-left .early-access-headline {
    text-align: center;
  }

  .early-access .early-access-left .early-access-copy {
    text-align: center;
    margin: 0 auto;
    width: 80%;
  }

  .early-access .early-access-right {
    margin-left: 0;
    width: 70%;
  }

  .early-access
    .early-access-right
    .early-access-form-group
    .early-access-email-field {
    width: 100%;
  }

  .early-access
    .early-access-right
    .early-access-form-group
    .get-started-early {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .hero {
    flex-direction: column;
    margin-top: 3rem;
  }

  .hero .hero-right {
    order: 1;
  }

  .hero .hero-left {
    order: 2;
    text-align: center;
  }

  .hero .hero-left .hero-headline {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }

  .hero .hero-left .hero-copy {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    line-height: 1.8rem;
  }

  .hero .hero-left .hero-field {
    width: 80%;
    margin-bottom: 1rem;
  }

  .hero .hero-left .get-started {
    width: 80%;
  }

  .content .container {
    flex-direction: column;
  }

  .content .content-right {
    order: 1;
    margin: 0 auto;
  }

  .content .content-left {
    order: 2;
    margin-top: 3rem;
  }

  .content .content-left h2 {
    width: 80%;
    font-size: 1.5rem;
    text-align: center;
    margin: 0 auto 1.5rem;
  }

  .content .content-left .content-copy {
    width: 80%;
    margin: 0 auto;
    line-height: 1.8rem;
  }

  .content .content-left .content-cta {
    margin: 2rem auto 2rem;
  }

  .content .content-left .content-card {
    margin: 0 auto;
  }

  footer .footer-mid {
    flex-direction: column;
  }

  footer .footer-mid .info {
    margin-bottom: 2rem;
  }

  footer .footer-mid .pages1 {
    margin-bottom: 2rem;
  }

  footer .footer-mid .social {
    margin: 2rem auto 0.5rem;
  }
}

/* reduce logo here */
@media (max-width: 500px) {
  nav {
    margin: 1.5rem 0.5rem 0;
  }

  nav .nav-left {
    width: 90px;
  }

  nav .nav-left img {
    width: 100%;
  }

  nav .nav-right {
    font-size: 0.8rem;
  }

  nav .nav-right ul li {
    padding: 0.5rem 1rem;
  }
}
